* {
    marin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

body {
    background-color: #e4e4e4;
    font-weight: 400;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}

.text-center {
    text-align: center !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.header {
    margin: 1rem 0 2rem 0;
}
.header__title {
    margin-bottom: 0.75rem;
    font-size: 2rem;
}
.header__subtitle {
    font-style: italic;
}

.panel {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    box-shadow: 0px 2px 20px 1px rgb(0 0 0 / 5%);
    margin-bottom: 1rem;
}
.panel__header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee;
}
.panel__title {
    font-size: 1rem;
    margin: 0;
}
.panel__body {
    padding: 1rem 1.5rem;
}

.table {
    margin-bottom: 1rem;
}

.table thead {
    background-color: #f2f2f2;
    border-bottom: 3px solid #ddd;
    color: #333333;
}
.table td,
.table th,
.table td:first-child,
.table td:last-child,
.table th:first-child,
.table th:last-child {
    border: 1px solid #ddd;
    padding: 0.75rem 0.9375rem;
}

.table tbody {
    color: #555;
}

.table_sm td,
.table_sm th,
.table_sm td:first-child,
.table_sm td:last-child,
.table_sm th:first-child,
.table_sm th:last-child {
    border: 1px solid #ddd;
    padding: 0.5rem 0.75rem;
}

.table.table_fixed thead {
    position: sticky;
    position: -webkit-sticky;
    top: -1.2rem;
    z-index: 999;
}

.table.table_fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: -1.2rem;
    z-index: 999;
}
